.createpost{
    background-color: white;
    width: 700px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
}
button{
    background-color: #4945FF;
    padding: 5px;
    border-radius: 5px;
    margin-top:10px;
}
input{
    border: #e0e0e1 1px solid;
    border-radius: 5px;
    height: 30px;
}

.title-rating-wrapper div{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin:10px
}
.title-rating-wrapper{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    flex-direction: column;
    height: 180px;
}
textarea{
    height: 100%;
    border: #afafb1 1px solid;
    border-radius: 5px;
}
